@using WebATB.Models.Product
@model ProductCreateModel

<h1 class="text-center">Додати продукт</h1>

<form asp-action="Create"
      class="col-md-6 offset-md-3"
      method="post"
      enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" class="form-select"
                asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
            <option value="0">-- Оберіть категорію --</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>


    @* <div class="mb-3">
        <label asp-for="Images" class="form-label"></label>
        <input asp-for="Images" class="form-control">
        <span asp-validation-for="Images" class="text-danger"></span>
    </div> *@

    <div class="mb-3">
        <div style="cursor: pointer" class="col-12 border border-success border-dashed p-4 rounded text-center position-relative">
            <input style="cursor: pointer" type="file" id="fileInput" class="position-absolute top-0 start-0 w-100 h-100 opacity-0" accept="image/*" multiple />
            <span class="text-muted">Перетягніть або виберіть фотографії</span>
        </div>
    </div>

    <div class="mb-3">
        <div id="imageList" class="col-12 row row-cols-2 row-cols-md-4 g-3 mt-2"></div>
    </div>


    <button type="submit" class="btn btn-primary">Додати</button>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/zpmlrk6b8dajrzn3jd7pr0fmbi7upmbpv2cmrou2c0x68zzm/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous"></script>

    <script>
          //коли завантажилася сторінка

          const imageList = document.getElementById('imageList');

          new Sortable(imageList, {
              animation: 150,
              ghostClass: 'bg-light',
            });

          document.addEventListener('DOMContentLoaded', function()
          {
              //
            const imageInput = document.getElementById('fileInput');
            imageInput.addEventListener('change', function(event)
            {
                const files = event.target.files;
                if (!files || files.length === 0)
                {
                      return;
                }
                for (let i = 0; i < files.length; i++)
                {
                    const file = files[i];

                    const reader = new FileReader();

                    reader.onload = function(e)
                    {
                        const hiddenInput = document.createElement('input');
                        hiddenInput.type = 'hidden';
                        hiddenInput.name = 'images[]';
                        hiddenInput.value = e.target.result; // base64 string

                        const col = document.createElement('div');
                        col.className = 'col';

                        const wrapper = document.createElement('div');
                        wrapper.className = 'position-relative';

                        const img = document.createElement('img');
                        img.src = URL.createObjectURL(file);
                        img.className = 'img-fluid rounded border';
                        img.style.height = '100px';
                        img.style.objectFit = 'cover';
                        img.alt = 'Preview';

                        const removeBtn = document.createElement('button');
                        removeBtn.type = 'button';
                        removeBtn.className = 'btn btn-sm btn-danger position-absolute top-0 end-0 m-1 rounded-circle';
                        removeBtn.innerHTML = '&times;';
                        removeBtn.addEventListener('click', () => col.remove());


                        wrapper.appendChild(img);
                        wrapper.appendChild(removeBtn);
                        wrapper.appendChild(hiddenInput);
                        col.appendChild(wrapper);
                        imageList.appendChild(col);
                        // document.querySelector('form').appendChild(hiddenInput);
                    };

                    reader.readAsDataURL(file);
                    // console.log(file);
                }
           });

        });

    </script>
}